@import "tailwindcss";

.roboto-title {
  font-family: "Google Sans Code", sans-serif;
}
.tangerine-regular {
  font-family: "Tangerine", cursive;
}
@layer base {
  html {
    scroll-padding-top: 100px; /* or height of your navbar */
    scroll-behavior: smooth;
  }
}
